<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.calebevans.openconferenceurl</string>
	<key>connections</key>
	<dict>
		<key>3D8D99D1-FB8C-4A49-9BE1-D7696226A88D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83F5D4DF-2F64-484A-BECD-7436842D4BF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63611A99-79C1-437F-9440-06BD78E1A17F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09CA121B-D8B4-4ABF-AB14-039EE9CA5965</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83F5D4DF-2F64-484A-BECD-7436842D4BF6</key>
		<array/>
		<key>AD06006F-71F6-4731-9942-D0697E95329A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAD3A45C-8496-4F9C-9FD8-78677008FBA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CAD3A45C-8496-4F9C-9FD8-78677008FBA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D8D99D1-FB8C-4A49-9BE1-D7696226A88D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>86F92945-C294-4CF8-99CB-6C621052A87F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>63611A99-79C1-437F-9440-06BD78E1A17F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CEFB17DA-D9A1-4560-B8D8-CF92739E44B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D992695F-A88E-486B-8E22-754407A253E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D992695F-A88E-486B-8E22-754407A253E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFE8406F-AF67-43A5-A92F-DDBD0751DCFD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>973A5192-649C-4176-97F2-22217DB6D76C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DFE8406F-AF67-43A5-A92F-DDBD0751DCFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B925DAF-4AF4-418D-A463-E927C217CDA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE448172-1558-498A-8144-05EC668C39A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CEFB17DA-D9A1-4560-B8D8-CF92739E44B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Caleb Evans</string>
	<key>description</key>
	<string>Open the conference URL for upcoming calendar events</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Conference URL</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:event_conference_url}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3D8D99D1-FB8C-4A49-9BE1-D7696226A88D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:event_conference_url}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>83F5D4DF-2F64-484A-BECD-7436842D4BF6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>conf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/bin/python3 -m ocu.list_events "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Open the conference URL of your next calendar event</string>
				<key>title</key>
				<string>Open Conference URL</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AD06006F-71F6-4731-9942-D0697E95329A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:event_conference_url}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^https?://</string>
						<key>outputlabel</key>
						<string>has url</string>
						<key>uid</key>
						<string>86F92945-C294-4CF8-99CB-6C621052A87F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>has no url</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CAD3A45C-8496-4F9C-9FD8-78677008FBA5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The event "{var:event_title}" has no conference URL</string>
				<key>title</key>
				<string>No Conference URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>63611A99-79C1-437F-9440-06BD78E1A17F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Basso</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>09CA121B-D8B4-4ABF-AB14-039EE9CA5965</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Result list updated with your latest calendar</string>
				<key>title</key>
				<string>Open Conference URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DFE8406F-AF67-43A5-A92F-DDBD0751DCFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>refresh_cache</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>FE448172-1558-498A-8144-05EC668C39A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>conf</string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>5B925DAF-4AF4-418D-A463-E927C217CDA7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 -m ocu.refresh_cache "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CEFB17DA-D9A1-4560-B8D8-CF92739E44B0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>True</string>
						<key>outputlabel</key>
						<string>has updates</string>
						<key>uid</key>
						<string>973A5192-649C-4176-97F2-22217DB6D76C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>no updates</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D992695F-A88E-486B-8E22-754407A253E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>09CA121B-D8B4-4ABF-AB14-039EE9CA5965</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>3D8D99D1-FB8C-4A49-9BE1-D7696226A88D</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>5B925DAF-4AF4-418D-A463-E927C217CDA7</key>
		<dict>
			<key>xpos</key>
			<integer>765</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>63611A99-79C1-437F-9440-06BD78E1A17F</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>83F5D4DF-2F64-484A-BECD-7436842D4BF6</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>AD06006F-71F6-4731-9942-D0697E95329A</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>CAD3A45C-8496-4F9C-9FD8-78677008FBA5</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>CEFB17DA-D9A1-4560-B8D8-CF92739E44B0</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>D992695F-A88E-486B-8E22-754407A253E8</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>DFE8406F-AF67-43A5-A92F-DDBD0751DCFD</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>FE448172-1558-498A-8144-05EC668C39A1</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>3.0.1</string>
	<key>webaddress</key>
	<string>calebevans.me</string>
</dict>
</plist>
