alfred-workflow-packager==3.0.0b12
attrs==23.1.0
black==23.7.0
click==8.1.5
coverage==7.2.5
flake8==6.0.0
flake8-black==0.3.6
flake8-isort==6.0.0
freezegun==1.2.2
isort==5.12.0
jsonschema==4.17.3
mccabe==0.7.0
mypy==1.4.1
mypy-extensions==1.0.0
nose2==0.13.0
packaging==23.1
pathspec==0.11.1
platformdirs==3.9.1
pycodestyle==2.10.0
pyflakes==3.0.1
pyrsistent==0.19.3
python-dateutil==2.8.2
python-dotenv==1.0.0
six==1.16.0
typing_extensions==4.7.1
